.product__item-cart > img {
  width: 32px;
  height: 32px;
}

.product__item-cart {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #db1e02;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.product__item-cart.row {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 40px;
  border-radius: 50%;
}

.product__item-cart.column {
  position: relative;
  order: 3;
  width: 100%;
  border-radius: 5px;
  gap: 1rem;
}

.product__item-cart,
.product__item-cart.column > p {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

.product__item-cart.sort {
  height: max-content;
  padding: 10px;
  font-size: 1.5rem;
  background: #2e2e2e;
}

.cart-description {
  width: max-content;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.product__item-cart > svg {
  transform: scale(1.25);
}